<h1>Welcome</h1>
<form action="/contact_info/contactlist" method = "get">
<input type="text" name="given_name" placeholder="Given Name" class="name" required/>
<input type="text" name="family_name" placeholder="Family Name" required/>
<input type="text" name="email_address" placeholder="Email" required/>
<input type="text" name="address" placeholder="Address" required/>
<input type="text" name="primary" placeholder="Primary Phone" required/>
<input type="text" name="secondary" placeholder="Secondary Phone" required/>
<input type="text" name="emergency" placeholder="Emergency Phone" required/>
<input type="submit" value="Submit"/>
</form>
